<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.billgrim.server.database.mapper.CategoryMapper">
    <resultMap id="BaseResultMap" type="com.billgrim.server.database.model.Category">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="category" jdbcType="VARCHAR" property="category"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, category
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from category
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from category
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.billgrim.server.database.model.Category">
        insert into category (id, category)
        values (#{id,jdbcType=INTEGER}, #{category,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.billgrim.server.database.model.Category">
        insert into category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="category != null">
                category,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="category != null">
                #{category,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.billgrim.server.database.model.Category">
        update category
        <set>
            <if test="category != null">
                category = #{category,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.billgrim.server.database.model.Category">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Mon Nov 27 23:37:33 CST 2017.
        -->
        update category
        set category = #{category,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>