<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.billgrim.server.database.mapper.SpellCategoryGroupMapper">
  <resultMap id="BaseResultMap" type="com.billgrim.server.database.model.SpellCategoryGroup">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="spell_id" jdbcType="INTEGER" property="spellId" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, spell_id, category_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from spell_category_group
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectBySpellId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from spell_category_group
    where spell_id = #{spellId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from spell_category_group
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.billgrim.server.database.model.SpellCategoryGroup">
    insert into spell_category_group (id, spell_id, category_id
      )
    values (#{id,jdbcType=INTEGER}, #{spellId,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.billgrim.server.database.model.SpellCategoryGroup">
    insert into spell_category_group
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="spellId != null">
        spell_id,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="spellId != null">
        #{spellId,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.billgrim.server.database.model.SpellCategoryGroup">
    update spell_category_group
    <set>
      <if test="spellId != null">
        spell_id = #{spellId,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.billgrim.server.database.model.SpellCategoryGroup">
    update spell_category_group
    set spell_id = #{spellId,jdbcType=INTEGER},
      category_id = #{categoryId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>